
#login-box 
{
	position: relative;
	margin: 5% auto; 
	height: 400px;
	width: 1000px;
}

.left-box{
	position: absolute;
	
	left: 0; 
	box-sizing: border-box;
	padding: 40px; 
	width: 300px; 
	height: 400px;
}

input[type="text"],input[type="email"],textarea
{
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px; 
	padding: 4px; 
	width: 420px; 
	height: 45px; 
	border: none; 
	outline: border; 
	border-bottom: 1px solid #aaa; 
	font-weight: 400; 
	font-size: 15px;
	transform-style: 0.2 ease;

}
 li  {
list-style-type: none;}

input[type="submit"]
{
	margin-bottom: 28px; 
	width: 120px; 
	height: 32px; 
	border: none;
	border-radius: 40px ; 
	color: #fff; 
	background: rgb(209, 0, 36);
	font-family: sans-serif;
	font-weight: 500; 
	text-transform: uppercase;
	transition: 0.2 ease; 
	
}

input[type="submit"]:hover,input[type="submit"]:focus

{
	background:  #990000;
	
 background: linear-gradient(to right, rgb(209, 0, 36) 50%, #990000 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
	

}

.right-box{
	position: absolute;
	right: 0; 
	box-sizing: border-box;
	padding: 40px; 
	width: 300px; 
	height: 400px; 
}





