
/*--------------------------------------------------RESPONSIVE-------------------------------------------------*/
@media screen and ( max-width: 1440px) and (max-height: 340px){
    :root{
        --layout:1fr;
    }
}

body{
background:#EEF1F4 ;

}


  
::selection{
    color: #fff;
    background: #1A73E8;
}

::-webkit-scrollbar{
    width: 3px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover{
    background: #ccc;
}
.bulle {
    height: 80px;
    width: 80px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 35px;
    background: #1A73E8;
    position: fixed;
    left: 1450px;top: 650px;
  }
.wrap{
    width: 370px;
    
    background: #fff;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-top: 0px;
    position: fixed;
    left: 1150px;top: 165px;
    
}
.wrap .title{
    background: #1A73E8;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #1A73E8;
    border-radius: 5px 5px 0 0;
}
.date
{
  font-size: 11px;
  color: #0a346a;
}

.mod
{
  background: none;
  border:none;
  color: #0a346a;
  font-size: 15px;
  margin-right: 4px;
}
.mod :hover
{
  background: none;
  border:none;
  color: #6a0a14;

  font-size: 15px;
  margin-right: 4px;
}
.sup
{
  background: none;
  border:none;
  color: #0a346a;
  font-size: 15px;
  margin-right: 4px;
}
.sup :hover
{
  background: none;
  border:none;
  color: #6a0a14;
  font-size: 15px;
  margin-right: 4px;
}

  

  .custom-select-wrapper {

    display: inline-block;
    user-select: none;
  }
    .custom-select-wrapper select {
      display: none;
    }
    .custom-select {
      position: relative;
      display: inline-block;
    }
      .custom-select-trigger {
        position: relative;
        display: block;
        width: 368px;
        text-align: center;
        padding: 0 84px 0 22px;
        font-size: 22px;
        font-weight: 300;
        color: #1A73E8;
        line-height: 60px;
        background: #d9d9d9;
        
       
   
        cursor: pointer;
      }
        .custom-select-trigger:after {
          position: absolute;
          display: block;
          content: '';
          width: 10px; height: 10px;
          top: 50%; right: 25px;
          margin-top: -3px;
          border-bottom: 1px solid #fff;
          border-right: 1px solid #fff;
          transform: rotate(45deg) translateY(-50%);
          transition: all .4s ease-in-out;
          transform-origin: 50% 0;
        }
        .custom-select.opened .custom-select-trigger:after {
          margin-top: 3px;
          transform: rotate(-135deg) translateY(-50%);
        }
    .custom-options {
      position: absolute;
      display: block;
      top: 100%; left: 0; right: 0;
      min-width: 100%;
      margin: 15px 0;
      border: 1px solid #b5b5b5;
      border-radius: 4px;
      box-sizing: border-box;
      box-shadow: 0 2px 1px rgba(0,0,0,.07);
      background: #fff;
      transition: all .4s ease-in-out;
      
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(-15px);
    }
    .custom-select.opened .custom-options {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(0);
    }
      .custom-options:before {
        position: absolute;
        display: block;
        content: '';
        bottom: 100%; right: 25px;
        width: 7px; height: 7px;
        margin-bottom: -4px;
        border-top: 1px solid #b5b5b5;
        border-left: 1px solid #b5b5b5;
        background: #fff;
        transform: rotate(45deg);
        transition: all .4s ease-in-out;
      }
      .option-hover:before {
        background: #f9f9f9;
      }
      .custom-option {
        position: relative;
        display: block;
        padding: 0 22px;
        border-bottom: 1px solid #b5b5b5;
        font-size: 18px;
        font-weight: 600;
        color: #b5b5b5;
        line-height: 47px;
        cursor: pointer;
        transition: all .4s ease-in-out;
      }
      .custom-option:first-of-type {
        border-radius: 4px 4px 0 0;
      }
      .custom-option:last-of-type {
        border-bottom: 0;
        border-radius: 0 0 4px 4px;
      }
      .custom-option:hover,
      .custom-option.selection {
        background: #f9f9f9;
      }
  
  
  







.wrap .form{
    padding: 20px 15px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}
.wrap .form .inbox{
    width: 100%;
    display: flex;
    align-items: baseline;
}
.wrap .form .user-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}
.wrap .form .inbox .icon{
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background: #1A73E8;
}
.wrap .form .inbox .msg-header{
    max-width: 53%;
    margin-left: 10px;
}
.form .inbox .msg-header p{
    color: #fff;
    background: #1A73E8;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 14px;
    word-break: break-all;
}
.form .user-inbox .msg-header p{
    color: #333;
    background: #efefef;
}
.wrap .typing-field{
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: #efefef;
    border-top: 1px solid #d9d9d9;
    border-radius: 0 0 5px 5px;
}
.wrap .typing-field .input-data{
    height: 40px;
    width: 335px;
    position: relative;
}
.wrap .typing-field .input-data input{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    padding: 0 80px 0 15px;
    border-radius: 3px;
    font-size: 15px;
    background: #fff;
    transition: all 0.3s ease;
}
.typing-field .input-data input:focus{
    border-color: #1A73E8;
}
.input-data input::placeholder{
    color: #999999;
    transition: all 0.3s ease;
}
.input-data input:focus::placeholder{
    color: #bfbfbf;
}
.wrap .typing-field .input-data button{
    position: absolute;
    right: 5px;
    top: 50%;
    height: 30px;
    width: 65px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    background: #1A73E8;
    border: 1px solid #1A73E8;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.wrap .typing-field .input-data input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}
.typing-field .input-data button:hover{
    background: #1A73E8;
}

#hide-btn
{
  position: absolute;
    left: 277px;
    height: 20px;
    width: 20px;
    top: 6px;
  background-color: #1A73E8; /* Blue background */
border: none; /* Remove borders */
color: white; /* White text */
padding: 12px 16px; /* Some padding */
font-size: 20px; /* Set a font size */
cursor: pointer; /* Mouse pointer on hover */
}
#exit-btn
{
  position: absolute;
  left: 315px;
  top: 5px;
    height: 20px;
    width: 20px;
  background-color: #1A73E8; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 20px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}
/*--------------------------------------------------Banner-------------------------------------------------*/
.wrapper
{   background-color:#EEF1F4;
   
    max-width: 1236px;
    height: 669px;
    margin: 8em auto 2em; /* top | horizontal | bottom */
   
    border-radius: 35px;

}

.wrapper:after{

content: "";
display: block;
clear: both;

}

.img{
    max-width: 1236px;
}


/*-------------- mini nav bar ------------------*/
.mini-nav
{  list-style-type: none ;

  
    float:inline-start;    
    width: 190px;
    height: 50px;
    border-radius: 35px;
    
    position: relative;
    background: #FFFFFF;
    margin: 0em ; /* top | horizontal | bottom */
    padding: 1em 3em 0 3em; /* top | right | bottom | left */
        /* text */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500px;
    font-size: 13px;


  

}


/*-------------------------------------------------- info box-------------------------------------------------*/

/*--------------Title--------------------*/
.info h1
{
    background: #FFFFFF;
    color: #202124;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    
    text-align: center;
    letter-spacing: -0.02em;

}

/*--------------second title (qustion) --------------------*/
.info p
{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    text-align: center;
    letter-spacing: -0.02em;

    /* Icons grey */

    color: #878889;
    background: #FFFFFF;


}
.info h1, .info p{
    background: #FFFFFF;
    text-align: left;
    line-height: 10px;
}

.info
{
    
    background: #FFFFFF;
    float: left;
   
    padding: 0em 3em 0 3em; /* top | right | bottom | left */
    

}


.container
{
    

    padding: 20px;
  
    width: 1110px;
    height: 200px;
  
    box-sizing: border-box;
    margin: -9em auto 2em; /* top | horizontal | bottom */
   

    /* white */

    background: #FFFFFF;
    border-radius: 35px;
    position: relative;
   



}


.container:after
{
    background: #FFFFFF;
    content: "";
    display: block;
    clear: both;
}
.info.search{
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 160px;
  }
  
/*--------------search button ------------------*/
.btn{
    border: 1px solid #1A73E8;
    background: #FFFFFF;
    padding: 10px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
  }
  .btn1{
    color: #1A73E8;
    background: #FFFFFF;
  }
 /*--------------search button animation ------------------*/
  .btn1:hover{
    color: #D1D3D3;
    border-color:#D1D3D3  ;
    background: #FFFFFF;
  }
 
  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #1A73E8;
    z-index: -1;
    transition: 0.8s;
  }
  .btn1::before{
    background: #FFFFFF;
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  

  .btn1:hover::before{
    background: #FFFFFF;
    height: 180%;
  }
  





 